h1{
    font-family: 'Sansita Swashed', cursive;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    height: 50px;
    padding: 30px;
    overflow: auto;
    
  }
   h2{
    font-family: 'Newsreader', serif;
    font-size: 25px;
    background-color: lightcoral;
    height: 25%;

   }

   p{
    font-family: 'Newsreader', serif;
    font-size: 15px;
    
   }

   img{
       width: 20%;
       height: auto;
       float: center;
       text-align: center;
       margin-left: 40%;
       
   }
  
  ul {
      list-style-type: none;
      margin-top: 4px;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      font-family: 'Sansita Swashed', cursive;
      width: 100%;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgba(255, 255, 255, 0.849);
      text-align: center;
      padding: 16px;
      text-decoration: none;
      float: center;
    }
  
    li a:hover:not(.active) {
      background-color: #111;
      float: center;
    }
    footer{
        text-align: center;
        padding: 5px;
        float: center;
        background-color:none;
        list-style-type: none;
        font-family: 'Newsreader', serif
      }
        
      